{% load static %}
<section id="courses">
    <div class="container">
        <h6 class="text-center"><span class="btn btn-sm theme-button theme-text">Discover Our Courses</span></h6>
        <h2 class="section-heading text-center">My Published Courses</h2>
        <p class="text-center muted-text mt-3 mb-4">From Basics to Advanced Learning</p>
        <div class="row justify-content-center gy-4" data-aos="fade-up" data-aos-delay="600">
            {% for course in courses %}
            <div class="col-lg-4 col-md-6">
                <div class="card course-card">
                    <div class="banner-container position-relative">
                        <div class="position-absolute top-0 end-0">
                            {% if course.tag %}
                            <span class="badge">{{ course.tag }}</span>
                            {% endif %}
                        </div>
                        <!-- Use Google Drive Image URL -->
                        <img src="{{ course.image_url }}" class="card-img-top banner" alt="{{ course.title }}">
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">{{ course.title }}</h3>
                        <p class="card-text description">{{ course.description }}</p>
                        <a href="{{ course.url }}" class="text-decoration-none" target="_blank">
                            <span class="read-more">Learn More <i class="bi bi-arrow-up-right"></i></span>
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
